* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: aquamarine;
    font-family: 'Special Elite', cursive;
    width: 100%;
}

#quote-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
}

#tweet-quote {
    display: block;
    width: 30px;
    align-self: center;
}

#text,
#author,
#new-quote {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#text {
    font-size: 40px;
    margin: 30px 50px;
    text-align: center;
}

#author {
    font-size: 20px;
    margin: 20px 0;
}

#new-quote {
    width: 150px;
    align-self: center;
    height: 35px;
    background-color: #fff;
    border-width: 1.5px;
    border-radius: 17.5px;
    border-color: #000;
    font-weight: bold;
    cursor: pointer;
    margin: 30px 0;
}

#colors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0;
}

#col1,
#col2,
#col3,
#col4 {
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border-width: 2px;
    border-color: #000;
    margin: 10px;
    cursor: pointer;
}

#col1 {
    background-color: blueviolet;
}

#col4 {
    background-color: palevioletred;
}

#col3 {
    background-color: lightblue;
}

#col2 {
    background-color: aquamarine;
}